{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Liste des offres d'emploi
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="jumbotron">
				<div class="container text-center mt-5">
					<h1 class="">
						Les entreprises qui recrutent !
					</h1>
					<p class="lead">
						Retrouvez ici toutes les entreprises qui recrutent sur notre plateforme.
					</p>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<form>
				<div class="mb-3">
					<input type="text" class="form-control" id="search" name="search" placeholder="Rechercher une entreprise">
				</div>
				<div class="mb-3">
					<select class="form-select" name="category">
						<option value="recent">Plus récent</option>
						<option value="old">Plus ancien</option>
					</select>
				</div>
				<input type="submit" class="btn btn-primary" value="Rechercher">
			</form>
		</div>
		<div class="col-10">
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">

				{% for entreprise in entreprises.data %}
					{% include "partials/_entreprise_card.html.twig" %}
				{% endfor %}
			</div>
			<div class="col-md-6 mx-auto">
				{% include "partials/_pagination.html.twig" %}
			</div>
		</div>
	</div>

{% endblock %}
