<div class="container-fluid bg-dark">
	<footer class="py-1 my-1">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Jobs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Entreprise</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Conctact</a>
			</li>
		</ul>
		<p class="text-center text-white">
			&copy; Made with
			<i class="bi bi-heart-fill text-danger"></i>
			by
			<a href="#" class="text-decoration-none text-white">symfony job board project konexio promo 1o 2024</a>
		</p>
	</footer>
</div>
