{% if '/offre-emploi' in app.request.requestUri %}
{% set routeName = 'app_offre_emploi' %}
{% set pages = offers.pages %}
{% set page = offers.page %}
{% endif %}



{% if '/entreprises'in  app.request.requestUri  %}
{% set routeName = 'app_entreprises' %}
{% set pages = entreprises.pages %}
{% set page = entreprises.page %}
{% endif %}




<nav aria-label="...">
	<ul class="pagination">
		<li class="page-item {% if page == 1 %}disabled{% endif %}">
			<a class="page-link" href="{{path(routeName,{page: page - 1})}}">
				<i class="bi bi-arrow-left"></i>
			</a>
		</li>
		{% for i in 1..7 %}
			{% if page - 3 + i > 0 and page - 3 + i <= pages %}
                <li class="page-item {% if page == page - 3 + i %}active{% endif %}">
                    <a class="page-link" href="{{path(routeName,{page: page - 3 + i})}}">{{page - 3 + i}}</a>
            {% endif %}
		{% endfor %}
		<li class="page-item {% if page == pages %}disabled{% endif %}">
			<a class="page-link" href="{{path(routeName,{page: page + 1})}}">
				<i class="bi bi-arrow-right"></i>
			</a>
		</li>

	</ul>
</nav>
