{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Création de compte utilisateur
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			<div class="col-2 p-0 m-0">
				{% include "partials/_sidebar.html.twig" %}
			</div>
			<div class="col-10">
				{% block content %}
                  {{ form(form) }}
                {% endblock %}
			</div>

		</div>

	</div>
{% endblock %}

